body {
    margin: 0;
    padding: 0;
    background-color: #373281;
    font-family: 'Circe';
    color: #ffffff;
}

.fixed {
    max-width: 1520px;
    padding: 0 20px;
    margin: 0 auto;
}

.white-block {
    padding: 24px;
    background: #ffffff;
    color: #373281;
    border-radius: 10px;
}

.shadow-block {
    box-shadow: 0px 0px 0px 0px rgba(16, 14, 37, 0.20), 
        2px 3px 8px 0px rgba(16, 14, 37, 0.20), 
        7px 13px 15px 0px rgba(16, 14, 37, 0.17), 
        16px 29px 20px 0px rgba(16, 14, 37, 0.10), 
        29px 51px 23px 0px rgba(16, 14, 37, 0.03), 
        46px 79px 26px 0px rgba(16, 14, 37, 0.00);
}

.margin-top {
    margin-top: 40px;;
}

ul, li {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    padding: 0 0 0 17px;
    position: relative;
}

a {
    text-decoration: none;
    transition: all 0.25s;
}

h1 {
    font-family: 'Circe Extra';
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}

h2 {
    font-family: 'Circe Extra';
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.site-error {
    margin-top: 40px;
}

.site-signup {
    max-width: 600px;
    margin: 40px auto 0;
}

.btn-sign {
    display: block;
    margin: 0 auto 20px !important;
}

.btn-sign-in {
    display: block;
    margin: 0 auto !important;
    text-align: center;
    color: #373281;
}

input[type=checkbox] {
    border-radius: 0;
    border: none;
    position: absolute;
    left: -9999px;
}

input[type=checkbox]+label:before {
    cursor: pointer;
    display: inline-block;
    color: #ffffff;
    background: #ffffff;
    text-indent: -1px;
    content: "✔";
    width: 22px;
    height: 22px;
    border: 2px solid #ACB0B9;
    border-radius: 4px;
    position: relative; top:1px;
    margin-right: 3px;
    text-align: center;
}

input[type=checkbox]+label:hover:before {
    border-color: #373281;
}

input[type=checkbox]:checked+label:before {
    background: #373281;
    border-color: #373281;
}

input[type=checkbox]:disabled+label:before {
    background: #E3E5E8;
    border-color: #E3E5E8;
    color: #E3E5E8;
}

input[type=checkbox]:checked:disabled+label:before {
    background: #E3E5E8;
    color: #ACB0B9;
}

.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
    color: #373281;
}

@media (min-width: 767px) {
    .modal-dialog {
        margin-top: 100px;
    }
}
.modal-content {
    color: #373281;
    font-weight: bold;
}

.modal-title {
    font-weight: bold;
}

.modal-body .info {
    font-size: 14px;
    font-weight: normal;
}

.modal-backdrop {
    background-color: #373281;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.back {
    margin-top: 10px !important;
    padding-top: 10px;
    border-top: 1px solid #DEE2E6;
    font-size: 18px;
}

.main-block {
    margin: 40px auto 0;
    max-width: 650px;
}

.avatar-main {
    text-align: center;
}

.avatar-main img {
    width: 100px;
    border-radius: 50%;
}

.author {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.button {
    padding: 10px;
    margin: 12px;
    font-size: 16px;
    border-radius: 8px;
    color: #ffffff;
    background: #373281;
    border: 1px solid #373281;
    font-weight: bold;
}

.button:hover {
    color: #373281;
    background: #ffffff;
    border: 1px solid #373281;
}

.btn-grp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#members-list img {
    width: 30px;
    border-radius: 50%;
}

#members-list li {
    margin-bottom: 10px;
}

.profile-menu li {
    padding: 5px;
    margin: 0 0 0 -5px;
    border-radius: 4px;
}

.profile-menu li:before {
    display: none;
}

.profile-menu li.active {
    background: #ACB0B9;
}

.profile-menu a {
    color: #373281;
}

.profile-avatar {
    max-width: 250px;
}

.profile-avatar-main {
    width: 200px;
    border-radius: 50%;
}

.profile-points {
    padding-top: 10px;
    font-size: 20px;
}

@media (max-width: 768px) {
    .prediction-block {
        margin-bottom: 20px;
    }
}

.points {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #DEE2E6;
}

.prediction-title {
    text-align: center;
    padding: 10px;
    margin: 12px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    color: #ffffff;
    background: #373281;
    border: 1px solid #373281;
}

.okup-title {
    font-size: 18px;
    font-weight: bold;
}

.prediction-guest {
    text-align: center;
    border-top: 1px solid #DEE2E6;
}

.prediction-guest a {
    text-decoration: none;
    color: #373281;
}

.bet {
    border-top: 1px solid #DEE2E6;
}

.bet-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.skip-title {
    padding-bottom: 10px;
    font-size: 18px;
    border-bottom: 1px solid #DEE2E6;
}

.skip-container {
    max-width: 500px;
    margin: 0 auto;
}

.reset-title {
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #DEE2E6;
}

.ban-list-title {
    padding-top: 15px;
    font-family: 'Circe Extra';
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-top: 1px solid #DEE2E6;
}

.ban-list {
    text-align: left;
}

.ban-list img {
    width: 30px;
    border-radius: 50%;
}

.ban-list li {
    margin-bottom: 10px;
}

.winner-avatar {
    width: 150px;
    border-radius: 50%;
}

.winner-username, .winner-telegram, .winner-points {
    padding-top: 10px;
    font-size: 20px;
}
